<%= turbo_frame_tag post do %>
  <div id="<%= dom_id(post) %>" data-controller="form">
    <div data-form-target="preview">
      <%= render(PostComponent.new(post: post, user_id: current_user.id, edit: policy(post).update?, delete: policy(post).destroy?)) %>
    </div>
 
    <%= render partial: "groups/posts/form", locals: { post: post, data: { form_target: "edit" }, class: "hidden" } %>
  </div>
<% end %>
